#footer{
    background-color: #C6d5c5;
    height: auto;
    width: 100%;
    padding:20px;
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footer .contenedor{
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}

#info-bd{
	margin:20px;

}

.info-bd{
	width: 180px;
	height: 180px;
    text-align: center;
}